img{
 height: 100px;
 width: 300px;
}
table{
  font-family:Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
}
td,th{
border:1px solid black;
}

ul{
list-style-type:circle;
list-style-type:square;
}
title{
  color:aliceblue;
  padding: 10px;
}

h1,p,span,strong{
  color:aliceblue;
  padding: 10px;
}